/*MAIN FEATURED WRAPPER*/
body {
    background-color: $body-bg;

    @include FontCera(1em, 300, normal);
}

.shadow-svg {
    -webkit-filter: drop-shadow(10px 30px 40px rgba(0, 0, 0, 1));
    filter: drop-shadow(10px 30px 40px rgba(0, 0, 0, 1));
}

/* TEXT COLORS */
.text {
    &-primary {
        color: $primary;
    }

    &-secondary {
        color: $secondary;
    }

    &-light-green {
        color: $light-green;
    }

    &-blue {
        color: $blue;
    }
}

/* HGROUPS */
h1 {}

h2 {
    font-size: rem-calc(200);
    letter-spacing: -5px;
    line-height: rem-calc(180);
    letter-spacing: -5px;
}

h3 {
    font-size: rem-calc(40);
    letter-spacing: -1px;
    line-height: rem-calc(48);
}

h4 {
    font-size: rem-calc(24);
}

/* PARAGRAPH */
p {
    font-size: rem-calc(18);
}
