header {
  background-color: #1d50b9d6;
  backdrop-filter: blur(2px);

  @apply fixed top-0 left-0 w-full;

  .forge-logo {
    width: 100%;
    max-width: 249px;
  }

  .header--menu__wrapper {
    display: none;

    &.open {
      display: flex;
    }
  }

  .icn-hamb {
    border: 0 none;
    background: transparent;
    position: relative;
    background: #1bcac4;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5),
      0 -5px 10px 0 rgba(146, 182, 255, 0.7);
    width: 40px;
    height: 40px;

    &:focus {
      border: 0 none;
    }

    svg {
      width: 21px;
      height: 16px;
      animation: all 300ms;
      transform-origin: 0px 0px;

      path {
        animation: all 300ms;
      }
    }

    @apply rounded-full flex items-center justify-center;

    &.open {
      svg {
        animation: all 300ms;

        path {
          animation: all 300ms;
          stroke-width: 1;
          d: path(
            "M 16.5 0.1 L 18.4 2 L 12.4 8 L 18.4 14 L 16.5 15.9 L 10.5 9.9 L 4.5 15.9 L 2.6 14 L 8.6 8 L 2.6 2 L 4.5 0.1 L 10.5 6.1 L 16.5 0.1 Z"
          );
        }
      }
    }
  }

  // Animation Hamb
  .navbar-toggle {
    border: 0 none;
    background: transparent;
    position: relative;
    background: #1bcac4;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5),
      0 -5px 10px 0 rgba(146, 182, 255, 0.7);
    width: 40px;
    height: 40px;

    @apply rounded-full flex items-center justify-center;

    &:hover,
    &:focus {
      outline: 0px none;
      background: transparent;
    }

    .icon-wrapper {
      width: 19px;
      height: 15px;
      padding: 0px;
      position: relative;
    }

    .icon-bar {
      display: block;
      position: absolute;
      height: 2.4px;
      width: 50%;
      background-color: white;
      opacity: 1;
      margin: 0px;

      @include transition(all, 200ms, ease);

      + .icon-bar {
        margin-top: 0px;
      }

      &:nth-child(1) {
        left: 2px;
        top: 4px;
      }

      &:nth-child(2) {
        left: calc(50% - 2px);
        top: 4px;
      }

      &:nth-child(1),
      &:nth-child(4) {
        @include rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        @include rotate(-45deg);
      }

      &:nth-child(3) {
        left: -60%;
        opacity: 0;
      }

      &:nth-child(4) {
        left: calc(50% - 2px);
        top: 10px;
      }

      &:nth-child(5) {
        left: 2px;
        top: 10px;
      }
    }

    &.collapsed {
      .icon-bar {
        background-color: white;

        &:nth-child(1),
        &:nth-child(2) {
          top: 1px;

          @include rotate(0deg);
        }

        &:nth-child(3),
        &:nth-child(4) {
          top: 7px;

          @include rotate(0deg);

          opacity: 1;
        }

        &:nth-child(5),
        &:nth-child(6) {
          top: 13px;

          @include rotate(0deg);
        }

        &:nth-child(odd) {
          left: 0px;
          border-radius: 9px 0 0 9px;
        }

        &:nth-child(even) {
          left: 50%;
          border-radius: 0 9px 9px 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    .header--menu__wrapper {
      display: flex;

      &.open {
        display: flex;
      }
    }
  }
}
