/* FONTS MIXINS */

@mixin FontLato($size: 1em, $weight: normal, $style: normal) {
    font-family: 'Lato';
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

@mixin FontMontserrat($size: 1em, $weight: normal, $style: normal) {
    font-family: 'Montserrat';
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

@mixin FontCera($size: 1em, $weight: normal, $style: normal) {
    font-family: "cera";
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}

/* GENERAL MIXINS */

@mixin box-shadow-out($x: 0px, $y: 0px, $blur: 2px, $spread: 0, $alpha: 0.5) {
    -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
    -moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
    box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin transition($to: all, $time: 1s, $type: ease-out) {
    -webkit-transition: $to $time $type; /* Chrome y Safari */
    -o-transition: $to $time $type; /* Opera */
    -moz-transition: $to $time $type; /* Mozilla Firefox */
    -ms-transition: $to $time $type; /* Internet Explorer */
    transition: $to $time $type; /* W3C */
}

@mixin rotate($degrees) {
    transform: rotate($degrees);
    -ms-transform: rotate($degrees); /* IE 9 */
    -moz-transform: rotate($degrees); /* Firefox */
    -webkit-transform: rotate($degrees); /* Safari and Chrome */
    -o-transform: rotate($degrees); /* Opera */
}

@mixin linear-gradient($args...) {
    background-image: -o-linear-gradient($args);
    background-image: -moz-linear-gradient($args);
    background-image: -webkit-linear-gradient($args);
    background-image: linear-gradient($args);
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $color;
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $color;
    }
}

@function rem-calc($size) {
    $remSize: $size / 16;

    @return #{$remSize}rem;
}
