// Colors
$primary: #1d50b9;
$secondary: #00CAC5;
$orange: #f47d1e;
$dark-orange: #ff7100;
$yellow: #f5c243;
$dark-yellow: #FFB700;
$red: #dc2222;
$light-green: #1bcac4;
$blue: #5572fc;
$green: #3cc979;
$light-white: #D8D8D8;

// Page Colors
$dark-gray: #161c24;
$gray-light: #f1f1f1;
$circle-gray: #2b2b2c;

// Body
$body-bg: $primary;

// General
$root: &;
