.social-networks {
    li {
        a {
            svg {
                width: 25px;
                height: auto;
                fill: black;

                @include transition(all, 300ms);
            }

            &:hover {
                svg {
                    fill: $secondary;
                }
            }
        }
    }
}
